db.sqlite3
venv/
zzzz.py
Journal/settings.py


*.log
*.pot
*.pyc
__pycache__
media

.env
pip-log.txt 
pip-delete-this-directory.txt 

.bak

.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history