{% extends 'base.html' %}
{% load static %}

{% block header  %}
  <meta charset="UTF-8">
  <script src="https://cdn.flexmonster.com/flexmonster.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.flexmonster.com/demo.css">
 {% endblock %}
  {% block title  %}
  <title>Dashboard with Flexmonster</title>
  {% endblock title %}


<body>
<div id="pivot-table-container" data-url="{% url 'pivot_data' %}"></div>
<div id="pivot-chart-container"></div>
</body>


{% block content %}

{% endblock %}