{% extends 'base.html' %}
{% load static %}


{%  block title %} 
<title>Journal</title>
{% endblock title %} 



{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<h1>My Trades</h1>
<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Direction</th>
      <th>Entry</th>
      <th>Take Profit</th>
      <th>Stop Loss</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for trade in trades %}
    <tr>
      <td>{{ trade.time }}</td>
      <td>{{ trade.direction }}</td>
      <td>{{ trade.entry }}</td>
      <td>{{ trade.take_profit }}</td>
      <td>{{ trade.stop_loss }}</td>
      <td>{{ trade.notes }}</td>
      {% if trade.image %}
      <td>{{ trade.image.url }} </td>
      <td><img src="{{ trade.image.url }}" alt="no img" width="400" height="200"></td>
      {% else %}
      <td>No image</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>Add a New Trade</h2>
<form method="post"  enctype="multipart/form-data">
  {% csrf_token %}


  {{ form.direction }}
  <button type="submit">Submit</button>
</form>

{% endblock %}