.ledger {
    padding-top: 3rem;
}
.table-container {

    display: flex;
    justify-content: center;

}

.styled-table {
    /* margin:50px  30px; */
    border-collapse: collapse;
    
}
.styled-table th {
    color: #f65e5e;
    text-transform: uppercase;

}
.styled-table tr,
td,
th {
    min-width:50px ;
    padding: 3px;
    max-width: 80%;
    overflow: hidden;
    border: 1px solid white;
    text-align: center;
    vertical-align: top;
    
}
.styled-table #comment {
    max-width: 720px;
}
.styled-table tr {
    /* line-height: 10px; */
    white-space: nowrap;
}
.entries-table-body tr:nth-child(odd) {
    background-color: #8f9290;
}
.entries-table-body tr:nth-child(even) {
    background-color: #000000;
}

