.ledger {
    padding-top: 3rem;
}

.table-container {

    display: flex;
    justify-content: center;

}

.styled-table {
    /* margin:50px  30px; */
    max-width: 80%;
    border-collapse: collapse;

}

.styled-table th {
    color: #f65e5e;
    text-transform: uppercase;

}

.styled-table tr,
td,
th {
    min-width: 50px;
    padding: 3px;
    max-width: 80%;
    /* overflow: hidden; */
    border: 1px solid white;
    text-align: center;
    vertical-align: top;

}

.styled-table #comment {
    max-width: 500px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.styled-table #highlighted-comment {
    /* white-space: nowrap; */
    max-width: 500px;
    text-align: left;
    word-wrap: break-word;
    overflow-y: auto;
}

.styled-table tr {
    max-height: 20px;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
}

.entries-table-body tr:nth-child(odd) {
    background-color: #8f9290;
}

.entries-table-body tr:nth-child(even) {
    background-color: #000000;
}


/* UPLOAD TRADES */
#submit_trade {
    display: flex;

    /* margin: 0%; */
    /* text-align: right; */
}
#submit_trade #submit_button_span {
    /* float: right; */

}

.table-rows input {
    width: 100%;
    box-sizing: border-box;
    color: white;
    background-color: black;
}

/* error popup  */

#error_popup {
    position: fixed;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    width: auto;
    background-color: white;
    top: 49px;
    right: 3px;
    color: black;
    padding: 2px;
    display: none;
    align-items: center;

}