{% load static %}

<link type="text/css" rel="stylesheet" href="{% static 'css/_trades_table.css' %}">


<!-- Main Trading entries -->
<div class="table-container">
        <table class="styled-table">
        <thead class="entries-table-head">
            <tr>
                <th>
                    Ticker
                </th>
                <th>
                    Side
                </th>

                <th>
                    Entry Price
                </th>
                <th>
                    Stop Loss
                </th>
                <th>
                    Take Profit
                </th>
                <th>
                    Exit Price
                </th>
                <th>
                    PnL
                </th>
                <th>
                    R:R
                </th>

                <th>
                    Tags
                </th>
                <th>
                    Image
                </th>
                <th>
                    Comments
                </th>
            </tr>
        </thead>

        <tbody class="entries-table-body">
        {% for trade in trades %}

            <tr class="table-rows" onclick="toggle_comments(this)">
                <td>
                    {{ trade.ticker}}
                </td>

                <td>
                    {{ trade.side }}
                </td>

                <td>
                    {{ trade.entry }}
                </td>

                <td>
                    {{ trade.stop_loss }}
                </td>

                <td>
                    {{ trade.take_profit }}
                </td>
                <td>
                    {{ trade.trade_exit }}
                </td>
                <td>
                    {{ trade.pnl }}
                </td>
                <td>
                    {{ trade.rr }}
                </td>
                <td>
                    {{ trade.tags }}
                </td>
                <td>
                    <img alt="None" src="{{ trade.image }}">
                </td>
                <td id="comment">
                    {{ trade.comments }}
                </td>
            </tr>
            {% endfor %}







        </tbody>
    </table>


</div>



<script type="text/javascript" src="{% static 'js/_trades_table.js' %}"> </script>




<!-- 
        <table class="styled-table">
        <thead class="entries-table-head">
            <tr>
                <th>
                    Ticker
                </th>
                <th>
                    Side
                </th>

                <th>
                    Entry Price
                </th>
                <th>
                    Stop Loss
                </th>
                <th>
                    Take Profit
                </th>
                <th>
                    PnL
                </th>
                <th>
                    R:R
                </th>

                <th>
                    Tags
                </th>
                <th>
                    Image
                </th>
                <th>
                    Comments
                </th>
            </tr>
        </thead>

        <tbody class="entries-table-body">
            <tr class="table-rows" onclick="toggle_comments(this)">
                <td>
                    BTCUSDT
                </td>

                <td>
                    LONG
                </td>

                <td>
                    29000.25
                </td>

                <td>
                    27000
                </td>

                <td>
                    31000
                </td>
                <td>
                    +2.5%
                </td>
                <td>
                    3:1
                </td>
                <td>
                    Swing somethign shdifhwe
                </td>
                <td>
                    Image
                </td>
                <td id="comment">
                    Comments something here
                    Loridem nesciunt veniam modi consectetur magnam est, dolor, maiores commodi.
                </td>
            </tr>



            <tr class="table-rows" onclick="toggle_comments(this)">
                <td>
                    BTCUSDT
                </td>

                <td>
                    LONG
                </td>

                <td>
                    29000.25
                </td>

                <td>
                    27000
                </td>

                <td>
                    31000
                </td>
                <td>
                    +2.5%
                </td>
                <td>
                    3:1
                </td>
                <td>
                    Swing
                </td>
                <td>
                    Image
                </td>
                <td id="comment">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, sequi! Quae numquam fuga, nulla
                    quam
                    eveniet saepe, magnam sed minus aperiam ea, iste necessitatibus nostrum veritatis itaque. Quo,
                    temporibus saepe!

                </td>
            </tr>
             <tr class="table-rows" onclick="toggle_comments(this)">
                <td>
                    BTCUSDT
                </td>

                <td>
                    LONG
                </td>

                <td>
                    29000.25
                </td>

                <td>
                    27000
                </td>

                <td>
                    31000
                </td>
                <td>
                    +2.5%
                </td>
                <td>
                    3:1
                </td>
                <td>
                    Swing
                </td>
                <td>
                    Image
                </td>
                <td id="comment">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, sequi! Quae numquam fuga, nulla
                    quam
                    eveniet saepe, magnam sed minus aperiam ea, iste necessitatibus nostrum veritatis itaque. Quo,
                    temporibus saepe!

                </td>
            </tr>
             <tr class="table-rows" onclick="toggle_comments(this)">
                <td>
                    BTCUSDT
                </td>

                <td>
                    LONG
                </td>

                <td>
                    29000.25
                </td>

                <td>
                    27000
                </td>

                <td>
                    31000
                </td>
                <td>
                    +2.5%
                </td>
                <td>
                    3:1
                </td>
                <td>
                    Swing
                </td>
                <td>
                    Image
                </td>
                <td id="comment">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, sequi! Quae numquam fuga, nulla
                    quam
                    eveniet saepe, magnam sed minus aperiam ea, iste necessitatibus nostrum veritatis itaque. Quo,
                    temporibus saepe!

                </td>
            </tr>
             <tr class="table-rows" onclick="toggle_comments(this)">
                <td>
                    BTCUSDT
                </td>

                <td>
                    LONG
                </td>

                <td>
                    29000.25
                </td>

                <td>
                    27000
                </td>

                <td>
                    31000
                </td>
                <td>
                    +2.5%
                </td>
                <td>
                    3:1
                </td>
                <td>
                    Swing
                </td>
                <td>
                    Image
                </td>
                <td id="comment">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, sequi! Quae numquam fuga, nulla
                    quam
                    eveniet saepe, magnam sed minus aperiam ea, iste necessitatibus nostrum veritatis itaque. Quo,
                    temporibus saepe!

                </td>
            </tr>
            

            <tr class="table-rows" onclick="toggle_comments(this)">
                <td>
                    BTCUSDT
                </td>

                <td>
                    LONG
                </td>

                <td>
                    29000.25
                </td>

                <td>
                    27000
                </td>

                <td>
                    31000
                </td>
                <td>
                    +2.5%
                </td>
                <td>
                    3:1
                </td>
                <td>
                    Swing somethign shdifhwe
                </td>
                <td>
                    Image
                </td>
                <td id="comment">
                    Comments something here
                    Lorem ipsum dem nesciunt dolor corporur magnam est, dolor, maiores commodi.
                </td>
            </tr>




        </tbody>
    </table>
 -->