{% load static %}

<link type="text/css" rel="stylesheet" href="{% static 'css/_trades_table.css' %}">
<script type="text/javascript" src="{% static 'js/_trades_table.js' %}"> </script>


<!-- Main Trading entries -->

<table class="styled-table">
    <thead class="entries-table-head">
        <tr>
            <th>
                Ticker
            </th>
            <th>
                Side
            </th>

            <th>
                Entry Price
            </th>
            <th>
                Stop Loss
            </th>
            <th>
                Take Profit
            </th>
            <th>
                Tags
            </th>
            <th>
                Image
            </th>
            <th>
                Comments
            </th>
        </tr>
    </thead>

    <tbody class="entries-table-body">


    </tbody>
</table>